<div class="container">
  <div class="row">
    <h1> Cancelar Cita</h1>
    
     
      <select [(ngModel)]= "selectedCita" name = "selectedCita" class="browser-default">
      <label>Seleccione la cita</label>  
      <option value="" disabled selected>Seleccione la cita</option>
       <option *ngFor="let cita of citas" [ngValue]="cita">Cita</option>
    </select>

    <button class="btn waves-effect waves-light" (click)="onSelect()">Ver Detalles
  </button>

    <div *ngIf="cliente && vehiculo">
      
<ul class="collection">
    <li class="collection-item avatar">
      <i class="material-icons circle blue">account_box</i>
      <span class="title">Cliente</span>
      <p> Nombre: {{cliente.Nombre}} <br>
         Apellido: {{cliente.Apellido}}
      </p>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">directions_car</i>
      <span class="title">Vehículo</span>
      <p>Modelo: {{vehiculo.Modelo}}
         
      </p>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">event_note</i>
      <span class="title">Estado de la cita</span>
      <p> 
         {{selectedCita.Estado}}
      </p>
    </li>
  </ul>

    </div>
     <br>
     <br>
      <form (submit)="onDeleteSubmit()" class="col s12">
    <button type="submit" class="btn btn-primary">Cancelar</button>

    </form>
  </div>
</div>
    
      <footer class="page-footer blue-grey darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Mecamet C.A</h5>
                <p class="grey-text text-lighten-4">Todos los derechos reservados.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                
                <ul>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>
    
            