
<body>


    
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>
<div class="container">
<!-- <div>
    
        <h5 class="left-align">Bienvenido</h5>
    
<a class="waves-effect waves-light btn">Registrarse</a>
<a class="waves-effect waves-light btn">Iniciar Sesion</a>
</div> -->


<div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Bienvenido a Mecamet</span>
              <p>Mecamet está para servirlo y ayudarlo. Solucionar sus problemas es nuestra tarea. Nuestro taller esta comprometido con la más alta calidad de servicio.</p>
            </div>
            <div class="card-action">
              <a href="#" routerLink="/iniciar-sesion">Iniciar Sesion</a>
              <a href="#" routerLink="/registro-usuario">Registrarse</a>
            </div>
          </div>
        </div>
      </div>

</div>
<p>.</p>
<p>.</p>
<p>.</p>

<p>.</p>
<p>.</p>
<p>.</p>

<p>.</p>
<p>.</p>
<p>.</p>
<p>.</p>


<footer class="page-footer blue-grey darken-2">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Mecamet C.A</h5>
              <p class="grey-text text-lighten-4">Todos los derechos reservados.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              
              <ul>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2018 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!"></a>
          </div>
        </div>
      </footer>
          

</body>