<div class="container">
<h1>Asginar Privilegios</h1>
<label>Seleccione el Usuario</label>
  <select class="browser-default">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">Usuario 1</option>
    <option value="2">Usuario 2</option>
    <option value="3">Usuario 3</option>
    <option value="4">Usuario 4</option>
  </select>
  
  <h2><button type="submit" class="btn btn-primary">Cliente</button>
  <button type="submit" class="btn btn-primary">Gerente</button>
 <button type="submit" class="btn btn-primary">Mecánico</button></h2>
</div> 

<footer class="page-footer cyan lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Mecamet C.A</h5>
          <p class="grey-text text-lighten-4">Todos los derechos reservados.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          
          <ul>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!"></a>
      </div>
    </div>
  </footer>
      