<div class="container">
<h1>Gestion de Orden</h1>
<label>Seleccione la Cita</label>
  <select [(ngModel)]= "selectedCita" name = "selectedCita" class="browser-default">
    <option value="" disabled selected>Choose your option</option>
    <option *ngFor="let cita of citas" [ngValue]="cita">{{cita.fechaSolicitud}} {{cita.Hora}} </option>
  </select>

  <button (click) = "onSelect()" class="btn btn-primary">Ver Detalles</button>

<div *ngIf="cliente && vehiculo">
<ul class="collection">
    <li class="collection-item avatar">
      <i class="material-icons circle blue">account_box</i>
      <span class="title">Cliente</span>
      <p> Nombre: {{cliente.Nombre}} <br>
         Apellido: {{cliente.Apellido}}
      </p>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">directions_car</i>
      <span class="title">Vehículo</span>
      <p>Modelo: {{vehiculo.Modelo}} <br>
         Año :  {{vehiculo.Year}}
      </p>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
           
</div>


  <form (submit)= "cargar()" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">Diagnóstico</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Mecánico Asignado</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="text" class="validate">
          <label for="password">Accesorios Encontrados</label>
        </div>
        <div class="input-field col s6">
          <input id="password" type="text" class="validate">
          <label for="password">Caucho de Repuesto</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="text" class="validate">
          <label for="password">Llaves</label>
        </div>
        <div class="input-field col s6">
          <input id="password" type="text" class="validate">
          <label for="password">Gato</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="text" class="validate">
          <label for="password">Herramientas</label>
        </div>
        <div class="input-field col s6">
          <input id="password" type="text" class="validate">
          <label for="password">Frontal de Equipo de Sonido</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="text" class="validate">
          <label for="password">Desperfecto en la Carrocería</label>
        </div>
      </div>

    <div class="row">
            <div class="file-field input-field col s12 m12 l12">
              <div class="btn waves-effect waves-light">
                <span>File</span>
                <input type="file" accept=".png, .jpg, .jpeg" name="Foto"/>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" required [(ngModel)]="foto" name="foto">
              </div>
            </div>
          </div>
       <button type="submit" class="btn btn-primary">Listo</button>
    </form>
    </div>

  <h1></h1>    

    <footer class="page-footer black">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Mecamet C.A</h5>
              <p class="grey-text text-lighten-4">Todos los derechos reservados.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              
              <ul>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2018 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!"></a>
          </div>
        </div>
      </footer>
          