<body>
    
    
        
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
  
                  <div class="card black">
                    <div class="card-content white-text">
                      <span class="card-title">¿Quiénes somos?</span>
                      <p>Mecamet es su taller de confianza. Con nuestro dedicado y experimentado personal, le ofrecemos el mejor servicio y atención que usted merece. Al solicitar cualquiera de nuestros servicios, obtendrá acceso a nuestra aplicación web, en la cual podrá hacer seguimiento del proceso de reparación de su vehículo de una manera rápida y sencilla. Ven a Mecamet y tu vehículo siempre lucirá como nuevo.</p>
                    </div>
                   
                  </div>

                    <ul class="collection">
    <li class="collection-item avatar">
      <i class="material-icons circle blue">watch_later</i>
      <span class="title">Horario</span>
      <p>Lunes a viernes: 11:00am - 6:00pm <br>
         Sábados: 10:00am - 4:00pm
      </p>
     
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">map</i>
      <span class="title">Ubicación</span>
      <p>Terrazas del Ávila <br>
         Miranda, VE
      </p>
     
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">share</i>
      <span class="title">Redes Sociales</span>
      <p>TW: @Mecamet <br>
         IG: @Mecamet.ve <br>
         YT: Mecamet VE

      </p>
    </li>
  </ul>
    
    <p>.</p>
    <p>.</p>
    <p>.</p>
    
    <p>.</p>
    <p>.</p>
    <p>.</p>
    
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    
    
    <footer class="page-footer black">
            <div class="container">
              <div class="row">
                <div class="col l6 s12">
                  <h5 class="white-text">Mecamet C.A</h5>
                  <p class="grey-text text-lighten-4">Todos los derechos reservados.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                  
                  <ul>
                    
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © 2018 Copyright Text
              <a class="grey-text text-lighten-4 right" href="#!"></a>
              </div>
            </div>
          </footer>
              
    
    </body>