<div class="container">
<h1>Actualizar Órdenes</h1>
<table class="responsive-table">
        <thead>
          <tr>
              <th *ngFor="let col of columnas">{{col}}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let orden of ordenes">
            <td *ngFor="let col of columnas" >{{orden[col]}}</td>
            <a class="btn-floating btn-tiny waves-effect waves-light red" (click)="onClick(orden)"><i class="material-icons">edit</i></a>
          </tr>
        </tbody>
      </table>

<div *ngIf="selectedOrden">

   <form (submit)= "onSubmit()" class="col s12">
      <div class="row">
        <div class="col s6"> <label for="accesorios">Accesorios Encontrados</label>
          <input [(ngModel)]= "selectedOrden.Accesorios" name="accesorios" id="accesorios" placeholder="accesorios" type="text" class="validate">
         
        </div>
        <div class="col s6"> <label for="caucho">Caucho de Repuesto</label>
          <input [(ngModel)]= "selectedOrden.Caucho" name="caucho" id="caucho" placeholder="caucho" type="text" class="validate">
         
        </div>
      </div>
      <div class="row">
        <div class="col s6"><label for="llaves">Llaves</label>
          <input [(ngModel)]= "selectedOrden.Llaves" name="llaves" id="llaves" placeholder="llaves" type="text" class="validate">
          
        </div>
        <div class="col s6">    <label for="gato">Gato</label>
          <input [(ngModel)]= "selectedOrden.Gato" name="gato" id="gato" placeholder="gato" type="text" class="validate">
      
        </div>
      </div>
      <div class="row">
        <div class="col s6"><label for="herramientas">Herramientas</label>
          <input [(ngModel)]= "selectedOrden.Herramientas" name="herramientas" id="herramientas" placeholder="herramientas" type="text" class="validate">
          
        </div>
    <div class="col s6"><label for="carroceria">Desperfecto en la Carrocería</label>
          <input [(ngModel)]= "selectedOrden.Desperfectos" name="carroceria" id="carroceria" placeholder="carroceria" type="text" class="validate">
          
        </div>
      </div>


    <div class="row">
            <div class="file-field input-field col s12 m12 l12">
              <div class="btn waves-effect waves-light">
                <span>File</span>
                <input type="file" accept=".png, .jpg, .jpeg" name="Foto"/>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" required [(ngModel)]="foto" name="foto">
              </div>
            </div>
          </div>
       <button type="submit" class="btn btn-primary">Listo</button>
    </form>        
</div>


  
    </div>

  <h1></h1>    

    <footer class="page-footer black">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Mecamet C.A</h5>
              <p class="grey-text text-lighten-4">Todos los derechos reservados.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              
              <ul>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2018 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!"></a>
          </div>
        </div>
      </footer>