<div class="container">
  <div class="row">
    <h1>Asginar Privilegios</h1>
    <form (submit)="onUpdateSubmit()" class="col s12">
  <label>Seleccione el Usuario</label>
  <select [(ngModel)]= "idUsuario" name = "idUsuario"class="browser-default">
    <option value="" disabled selected>Usuarios</option>
    <option *ngFor ="let usuario of usuarios" [ngValue]="usuario.idUsuario"> {{usuario.Email}}  </option>
  </select>
    <label>Seleccione el rol</label>
    <select [(ngModel)]= "rol" name = "rol" class="browser-default">
    <option value="" disabled selected>Seleccione el rol</option>
    <option value="1">Cliente</option>
    <option value="2">Mecanico</option>
    <option value="3">Gerente</option>
    <option value="4">Administrador</option>
  </select>

  <button type="submit" class="btn btn-primary" value="Submit">Actualizar usuario</button>
</form>
 </div>
</div> 

<footer class="page-footer blue-grey darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Mecamet C.A</h5>
          <p class="grey-text text-lighten-4">Todos los derechos reservados.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          
          <ul>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!"></a>
      </div>
    </div>
  </footer>
      