<div class="container">
<h1>Generar Reporte</h1>

<div class="row"><label>Seleccione el tipo de reporte</label>
  <select [(ngModel)]="opcion" class="browser-default">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">Historial Cliente</option>
    <option value="2">Órdenes por Mecanico</option>
    <option value="3">Servicios por Vehículo</option>
    <option value="4">Cantidad de Vehículos Atendidos por Modelo</option>
  </select></div>


  <div *ngIf="opcion==1">
   <table class="responsive-table">
        <thead>
          <tr>
              <th *ngFor="let col of columnasCliente">{{col}}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td *ngFor="let col of columnasCliente" >{{cliente[col]}}</td>
            Descargar Reporte <a class="btn-floating btn-tiny waves-effect waves-light red" (click)="onCliente(cliente)"><i class="material-icons">file_download</i></a>
          </tr>
        </tbody>
      </table>
  </div>

  <div *ngIf="opcion==2">
 <table class="responsive-table">
        <thead>
          <tr>
              <th *ngFor="let col of columnasMecanico">{{col}}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let mecanico of mecanicos">
            <td *ngFor="let col of columnasMecanico" >{{mecanico[col]}}</td>
            Descargar Reporte <a class="btn-floating btn-tiny waves-effect waves-light red" (click)="onMecanico(mecanico)"><i class="material-icons">file_download</i></a>
          </tr>
        </tbody>
      </table>  
  </div>

  <div *ngIf="opcion==3">

    <table class="responsive-table">
        <thead>
          <tr>
              <th *ngFor="let col of columnasVehiculo">{{col}}</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let vehiculo of vehiculos">
            <td *ngFor="let col of columnasVehiculo" >{{vehiculo[col]}}</td>
            Descargar Reporte <a class="btn-floating btn-tiny waves-effect waves-light red" (click)="onServicios(vehiculo)"><i class="material-icons">file_download</i></a>
          </tr>
        </tbody>
      </table>  
  </div>

  
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Mecamet C.A</h5>
          <p class="grey-text text-lighten-4">Todos los derechos reservados.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          
          <ul>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!"></a>
      </div>
    </div>
  </footer>
      