<div class="container">
<h1>Gestion de Orden</h1>
<label>Seleccione la Cita</label>
  <select class="browser-default">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">Cita 1</option>
    <option value="2">Cita 2</option>
    <option value="3">Cita 3</option>
  </select>
  <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">Diagnóstico</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Mecánico Asignado</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="text" class="validate">
          <label for="password">Accesorios Encontrados</label>
        </div>
        <div class="input-field col s6">
          <input id="password" type="text" class="validate">
          <label for="password">Caucho de Repuesto</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="text" class="validate">
          <label for="password">Llaves</label>
        </div>
        <div class="input-field col s6">
          <input id="password" type="text" class="validate">
          <label for="password">Gato</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="text" class="validate">
          <label for="password">Herramientas</label>
        </div>
        <div class="input-field col s6">
          <input id="password" type="text" class="validate">
          <label for="password">Frontal de Equipo de Sonido</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="text" class="validate">
          <label for="password">Desperfecto en la Carrocería</label>
        </div>
      </div>
      <form action="#">
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" multiple>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Cargar foto">
      </div>
    </div>
  </form>
       <button type="submit" class="btn btn-primary">Listo</button>
    </form>
    </div>

    <footer class="page-footer cyan lighten-2">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Mecamet C.A</h5>
              <p class="grey-text text-lighten-4">Todos los derechos reservados.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              
              <ul>
                
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2018 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!"></a>
          </div>
        </div>
      </footer>
          