
<div class="container">
<h1>Asignacion de Fecha</h1>

    <ul class="collection ">
        <li class="collection-item avatar">
            <i class="material-icons circle">directions_car</i>
          <span class="title highlight">Alejandro Medina</span>
          <p>Lancer <br>
             22/01/2018
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle">directions_car</i>
          <span class="title">Andres Medina</span>
          <p>Fiesta <br>
            05/06/2018
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle green">directions_car</i>
          <span class="title">Kevin Salamanca</span>
          <p>Tesla S <br>
             07/08/2018
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
        <li class="collection-item avatar">
          <i class="material-icons circle red">directions_car</i>
          <span class="title">Ramon Brito</span>
          <p>Mazda 3<br>
             01/02/2018
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
      </ul>
  
  <h1> </h1>
  <form action="/action_page.php">
    Fecha de la Cita:
    <!-- <input type="date" name="bday"> -->

    <div class="input-field">
        <input type="text" class="datepicker">        
    </div>

    
   
  </form>
  <h1> </h1>
  <button class="btn waves-effect waves-light" type="submit" name="action">Confirmar
    <i class="material-icons right">send</i>
  </button>
  <h1> </h1>
  </div>

  <footer class="page-footer cyan lighten-2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Mecamet C.A</h5>
            <p class="grey-text text-lighten-4">Todos los derechos reservados.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            
            <ul>
              
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
      </div>
    </footer>

    <script>$('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: false // Close upon selecting a date,
      });</script>
        