<div class="row">
  <h1> Solicitar Cita</h1>
    <form class="col s6">
      <div class="row">
        <form action="/action_page.php">
  Fecha de la Cita:
  <input type="date" name="bday">
 
</form>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Hora</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="text" class="validate">
          <label for="password">Vehículo</label>
        </div>
      </div>
       <button type="submit" class="btn btn-primary">Solicitar</button>
    </form>
  </div>