<nav class="nav-extended">
    <div class="nav-wrapper cyan">
      <a href="#" class="brand-logo center">Mecamet</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Salir</a></li>
      
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Salir</a></li>

      </ul>
    </div>
    <div class="nav-content cyan">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a routerLink="/inicio">Inicio</a></li>
        <!-- <li class="tab"><a routerLink="/iniciar-sesion">Iniciar Sesion</a></li>
        <li class="tab"><a routerLink="/registro-usuario">Nuevo Usuario</a></li> -->
        <li class="tab"><a routerLink="/registro-vehiculo">Nuevo Vehículo</a></li>
        <li class="tab"><a routerLink="/solicitar-cita">Solicitar Cita</a></li>
        <li class="tab"><a routerLink="/generacion-orden">Gestionar Orden</a></li>
        <li class="tab"><a routerLink="/Asignar-Fecha">Asignacion Fecha</a></li>
        <li class="tab"><a routerLink="/generar-reporte">Generar Reporte</a></li>
        <li class="tab"><a routerLink="/asignacion-privilegios">Privilegios</a></li>
        <li class="tab"><a routerLink="/repuestos">Repuestos</a></li>
        
        
      </ul>
    </div>
</nav>

<script>
    // Initialize collapse button
    $(".button-collapse").sideNav();
    // Initialize collapsible (uncomment the line below if you use the dropdown variation)
    //$('.collapsible').collapsible();
    </script>

<router-outlet></router-outlet>
