<nav class="nav-extended">
    <div class="nav-wrapper cyan">
      <a href="#" class="brand-logo center">SIGETAME</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Salir</a></li>
      
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Salir</a></li>

      </ul>
    </div>
    <div class="nav-content cyan">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a routerLink="/inicio">Inicio</a></li>
        <li class="tab"><a routerLink="/registro-usuario">Registro Nuevo Usuario</a></li>
        <li class="tab"><a routerLink="/registro-vehiculo">Registro Nuevo Vehículo</a></li>
        <li class="tab"><a routerLink="/solicitar-cita">Gestión de Citas</a></li>
      </ul>
    </div>
  </nav>

<router-outlet> </router-outlet>
