<nav class="nav-extended">
    <div class="nav-wrapper black">
      <a href="#" class="brand-logo center">Mecamet</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a (click)="onLogoutClick()" href="#">Salir</a></li>
      
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a (click)="onLogoutClick()" href="#">Salir</a></li>

      </ul>
    </div>
    <div class="nav-content black">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a routerLink="/inicio">Inicio</a></li>
        <!-- <li class="tab"><a routerLink="/iniciar-sesion">Iniciar Sesion</a></li>
        <li class="tab"><a routerLink="/registro-usuario">Nuevo Usuario</a></li> -->
        
       
        
        
        <li class="tab"><a routerLink="/about">Sobre Nosotros</a></li>
        

        
      </ul>
    </div>
</nav>

<script>
    // Initialize collapse button
    $(".button-collapse").sideNav();
    // Initialize collapsible (uncomment the line below if you use the dropdown variation)
    //$('.collapsible').collapsible();
    </script>

<flash-messages></flash-messages>
<router-outlet></router-outlet>
