<h1>Asginar Privilegios</h1>
<label>Seleccione el Usuario</label>
  <select class="browser-default">
    <option value="" disabled selected>Choose your option</option>
    <option value="1">Usuario 1</option>
    <option value="2">Usuario 2</option>
    <option value="3">Usuario 3</option>
    <option value="4">Usuario 4</option>
  </select>
  
  <h2><button type="submit" class="btn btn-primary">Cliente</button></h2>
  <h3><button type="submit" class="btn btn-primary">Gerente</button></h3>
 <h4><button type="submit" class="btn btn-primary">Mecánico</button></h4> 