<div class="container">
<div class="row">
    <h1> Solicitar Cita</h1>
      <form class="col s6">
        <div class="row">
          <form action="/action_page.php">
    Fecha de la Cita:
    <input type="date" name="bday">
   
  </form>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Hora</label>
          </div>
        </div>

        

        <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Seleccione el vehículo</option>
      <option></option>
    </select>
  </div>

         <button type="submit" class="btn btn-primary">Solicitar</button>
      </form>
    </div>
  </div>

  <footer class="page-footer blue-grey darken-1"  >
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Mecamet C.A</h5>
            <p class="grey-text text-lighten-4">Todos los derechos reservados.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            
            <ul>
              
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
      </div>
    </footer>
        