<div class="container">
    <div class="row">
        <h1> Eliminar veículo</h1>
          <form class="col s6">
            
    
            
    
            <table class="bordered highlight">
                <thead>
                  <tr>
                      <th>Vehículo</th>
                      <th>Marca</th>
                      <th>Placa</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr>
                    <td>Polo</td>
                    <td>Volkswagen</td>
                    <td>AAY27L</td>
                  </tr>
                  <tr>
                    <td>Fiesta</td>
                    <td>Ford</td>
                    <td>EER567</td>
                  </tr>
                  <tr>
                    <td>Lancer</td>
                    <td>Mitsubishi</td>
                    <td>MBM71X</td>
                  </tr>
                </tbody>
              </table>
             <button type="submit" class="btn btn-primary">Eliminar</button>
             <button type="submit" class="btn btn-primary">Traspasar</button>
          </form>
        </div>
      </div>
    
      <footer class="page-footer cyan lighten-2"  >
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Mecamet C.A</h5>
                <p class="grey-text text-lighten-4">Todos los derechos reservados.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                
                <ul>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>
            