<div class="container">
<div class="row">
  <h1> Registro de Vehículo</h1>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">Serial del Motor</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Modelo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="text" class="validate">
          <label for="password">Año</label>
        </div>
        <div class="input-field col s6">
          <input id="email" type="text" class="validate">
          <label for="email">Placa</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id=fecha type="text" class="datepicker">
          <label for="fecha">Fecha admitido</label>
        </div>
       

      </div>
      
       <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </div>
</div>

<footer class="page-footer blue-grey darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Mecamet C.A</h5>
          <p class="grey-text text-lighten-4">Todos los derechos reservados.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          
          <ul>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!"></a>
      </div>
    </div>
  </footer>
      