
<div class="container">
    <h1>Repuestos</h1>
    
        <ul class="collection">
            <li class="collection-item avatar">
                <i class="material-icons circle">settings</i>
              <span class="title">Chevrolet</span>
              <p>Motor <br>
                 250656525
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons"></i></a>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle">settings</i>
              <span class="title">Mercedes Benz</span>
              <p>Puerta <br>
                125625663
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons"></i></a>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle ">settings</i>
              <span class="title">Toyota</span>
              <p>Vidrio trasero<br>
                 852585258
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons"></i></a>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle ">settings</i>
              <span class="title">BMW</span>
              <p>Compresor<br>
                 878965236
              </p>
              <a href="#!" class="secondary-content"><i class="material-icons"></i></a>
            </li>
          </ul>
          <a class="waves-effect waves-light btn">Agregar</a>
          <a class="waves-effect waves-light btn">Modificar</a>
      <h1> </h1>
      </div>

      <footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Mecamet C.A</h5>
                <p class="grey-text text-lighten-4">Todos los derechos reservados.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                
                <ul>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>
            